.wrapper
{
  composes: wrapper from './color-picker.css';

  width: 152px;
  padding: 0 0 0 24px;
}

.preview
{
  composes: preview from './color-picker.css';

  width: 24px;
  height: 24px;
  margin: 0 -1px 0 -24px;

  line-height: 24px;
}

.preview:disabled
{
  background: linear-gradient(-45deg,#fff 16px,#ccc 16px, #ccc 17px,#fff 17px) !important;
}

.control
{
  composes: control from '../input/input-xs.css';
  composes: control from './color-picker.css';
}

.menu
{
  composes: menu from './color-picker.css';
}

.line
{
  composes: line from './color-picker.css';
}

.item
{
  composes: item from './color-picker.css';

  width: 14px;
  height: 14px;
}

/* mixin */

.isClosed
{
  composes: isClosed from './color-picker.css';
}

.isOpened
{
  composes: isOpened from './color-picker.css';
}
