.container
{
  composes: container from './color-picker.css';

  padding: 0 0 0 28px;
}

.preview
{
  composes: preview from './color-picker.css';

  width: 28px;
  height: 28px;
  margin: 0 -1px 0 -28px;

  line-height: 28px;
}

.preview:disabled
{
  background: linear-gradient(-45deg,#fff 19px,#ccc 19px, #ccc 20px,#fff 20px) !important;
}

.wrapper
{
  composes: wrapper from '../input/input-s.css';
  composes: wrapper from './color-picker.css';
}

.control
{
  composes: control from '../input/input-s.css';
  composes: control from './color-picker.css';
}

.clear
{
  composes: clear from '../input/input-s.css';
  composes: clear from './color-picker.css';
}

.menu
{
  composes: menu from './color-picker.css';
}

.line
{
  composes: line from './color-picker.css';
}

.item
{
  composes: item from './color-picker.css';

  height: 17px;
}

/* mixin */

.isClosedMenu
{
  composes: isClosedMenu from './color-picker.css';
}

.isOpenedMenu
{
  composes: isOpenedMenu from './color-picker.css';
}

.isFixedMenu
{
  composes: isFixedMenu from './color-picker.css';
}
