.container
{
  position: relative;

  display: inline-block;

  box-sizing: border-box;
}

.preview
{
  position: relative;
  z-index: 0;

  display: inline-block;

  cursor: pointer;
  vertical-align: top;

  border: none;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  -webkit-tap-highlight-color: transparent;
}

.preview:hover
{
  z-index: 1;

  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.preview:focus
{
  z-index: 1;

  box-shadow: inset 0 0 0 2px #fc0;
}

.preview:disabled
{
  z-index: 1;

  cursor: default;

  box-shadow: inset 0 0 0 1px #ccc;
}

.preview:active
{
  background: #f6f5f3;
}

.wrapper
{
  width: 100%;
}

.control
{
  position: relative;
  z-index: 0;

  box-sizing: border-box;
}

.clear
{
  z-index: 0;
}

.menu
{
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  overflow-y: auto;

  min-width: 100%;

  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),0 9px 20px -5px rgba(0,0,0,.4);
}

.item
{
  float: left;

  width: 7.69%;

  cursor: pointer;
}

.item:hover
{
  box-shadow: inset 0 0 0 1px #333;
}

/* mixin */

.isFixedWrapper
{
  width: 100%;
}

.isClosedMenu
{
  display: none;
}

.isOpenedMenu
{
  display: block;
}

.isFixedMenu
{
  width: 100%;
}
