.wrapper
{
  composes: selector from './tumbler.css';
  composes: wrapper from './tumbler.css';

  width: 66px;

  font: 13px/24px arial,sans-serif;
}

.baseline
{
  composes: baseline from './tumbler.css';
}

.shape
{
  composes: shape from './tumbler.css';;
}

.control
{
  composes: control from './tumbler.css';

  margin: 0 0 0 -42px;
}

.label
{
  composes: label from './tumbler.css';

  width: 66px;
  padding: 0 0 0 24px;
}

.label:first-child
{
  margin: 0 -24px 0 0;
  padding: 0 24px 0 0;
}

.delimiter
{
  composes: delimiter from './tumbler.css';

  width: 24px;
  margin: 0 0 0 -66px;
}

.native
{
  composes: native from './tumbler.css';;
}
