.wrapper
{
  composes: selector from './tumbler.css';
  composes: wrapper from './tumbler.css';

  width: 76px;

  line-height: 28px;
}

.baseline
{
  composes: baseline from './tumbler.css';

  line-height: 28px;
}

.shape
{
  composes: shape from './tumbler.css';;
}

.control
{
  composes: control from './tumbler.css';

  margin: 0 0 0 -48px;

  font-size: 13px;
}

.label
{
  composes: label from './tumbler.css';

  width: 76px;
  padding: 0 0 0 28px;

  line-height: 28px;
}

.label:first-child
{
  margin: 0 -28px 0 0;
  padding: 0 28px 0 0;
}

.delimiter
{
  composes: delimiter from './tumbler.css';

  width: 28px;
  margin: 0 0 0 -76px;

  line-height: 28px;
}

.native
{
  composes: native from './tumbler.css';;
}
