.wrapper
{
  composes: selector from './tumbler.css';
  composes: wrapper from './tumbler.css';

  width: 82px;

  line-height: 32px;
}

.baseline
{
  composes: baseline from './tumbler.css';

  line-height: 32px;
}

.shape
{
  composes: shape from './tumbler.css';;
}

.control
{
  composes: control from './tumbler.css';

  margin: 0 0 0 -50px;

  font-size: 15px;
}

.label
{
  composes: label from './tumbler.css';

  width: 82px;
  padding: 0 0 0 32px;

  line-height: 32px;
}

.label:first-child
{
  margin: 0 -32px 0 0;
  padding: 0 32px 0 0;
}

.delimiter
{
  composes: delimiter from './tumbler.css';

  width: 32px;
  margin: 0 0 0 -82px;

  line-height: 32px;
}

.native
{
  composes: native from './tumbler.css';;
}
