.wrapper
{
  position: relative;

  display: inline-block;
  overflow: hidden;

  border-radius: 3px;
}

.control
{
  display: block;

  user-select: none;
  transition: margin .1s ease-out;
  white-space: nowrap;
}

.label
{
  display: inline-block;

  box-sizing: border-box;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  border-radius: 3px;
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px #c2c2c2;

  font-family: arial,sans-serif;
}

.label:first-child
{
  background: #ffeba0;
  box-shadow: inset 0 0 0 1px #ccbd80;
}

.delimiter
{
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;

  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;
}

.native
{
  position: absolute;

  margin: 0;

  opacity: 0;
  border: 0;
  outline: 0;
}

.native:checked + .control
{
  margin-left: 0;
}

.native:focus + .control .delimiter
{
  box-shadow: inset 0 0 0 2px #fc0;
}

.native:disabled + .control .label
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: inset 0 0 0 1px #ebebeb;
}

.native:disabled + .control .label:first-child
{
  background: #d9d9d9;
  box-shadow: inset 0 0 0 1px #d9d9d9;
}

.native:disabled + .control .delimiter
{
  cursor: default;

  background: #d8d8d8;
  box-shadow: none;
}

.native:disabled:checked + .control .delimiter
{
  background: #c8c8c8;
}
