.input
{
  composes: input from './input.css';

  font: 13px/28px arial,sans-serif;
}

.control
{
  composes: control from './input.css';

  height: 28px;
  padding: 0 7px;
}

.clear
{
  composes: clear from './input.css';

  width: 26px;
  height: 26px;

  background: url(../../assets/times-s.svg) center center no-repeat;
}

.clear + .control
{
  padding-right: 28px;
}
