.container
{
  composes: selector from './colorPicker.css';
  composes: container from './colorPicker.css';
  composes: container-m from './colorPicker-size.css';
}

.button
{
  composes: button from './colorPicker.css';
  composes: button-m from './colorPicker-size.css';
}

.clear
{
  composes: clear from './colorPicker.css';
  composes: clear-m from './colorPicker-size.css';
}

.control
{
  composes: control from './colorPicker.css';
  composes: control-m from './colorPicker-size.css';
}

.menu
{
  composes: menu from './colorPicker.css';
}

.menuItem
{
  composes: menuItem from './colorPicker.css';
}

/* mixin */

.isClosedMenu
{
  composes: isClosedMenu from './colorPicker.css';
}
