.selector
{
  /* the common selector */
}

.container
{
  position: relative;

  display: inline-block;

  width: 11em;

  white-space: nowrap;
}

.button
{
  composes: normal from '../button/button.css';

  position: relative;

  margin: 0 -1px 0 0;
  padding: 0;

  border-radius: 0;

  font: inherit;
}

.button:before
{
  visibility: hidden;

  content: '\00A0';
}

.button:active,
.button:hover,
.button:focus
{
  z-index: 1;
}

.button:disabled
{
  z-index: 1;

  background: white;
}

.button:disabled:after
{
  position: absolute;
  top: 49.5%;
  left: -19.5%;

  width: 141%;
  height: 0;

  content: '';
  transform: rotate(-45deg);

  border-bottom: 1px solid #ccc;
}

.clear
{
  composes: clear from '../input/input.css';

  z-index: 1;
}

.control
{
  composes: control from '../input/input.css';

  position: relative;
}

.menu
{
  /* possibility to overwrite the basics */
}

.menuItem
{
  float: left;

  width: 7.69%;
  height: 0;
  padding-bottom: 7.69%;

  cursor: pointer;
}

/* mixin */

.isClosedMenu
{
  display: none;
}
