.container
{
  composes: container from './check-group.css';
}

.column
{
  composes: column from './check-group.css';

  margin: 0 28px 0 0;
}

.wrapper
{
  composes: wrapper from '../check/check-s.css';

  display: block;

  margin: 0 0 14px;
}

.control
{
  composes: control from '../check/check-s.css';
}

.native
{
  composes: native from '../check/check-s.css';
}

.label
{
  composes: label from '../check/check-s.css';
}
