.container
{
  composes: container from './check-group.css';
}

.column
{
  composes: column from './check-group.css';

  margin: 0 30px 0 0;
}

.wrapper
{
  composes: wrapper from '../check/check-m.css';

  display: block;

  margin: 0 0 15px;
}

.control
{
  composes: control from '../check/check-m.css';
}

.native
{
  composes: native from '../check/check-m.css';
}

.label
{
  composes: label from '../check/check-m.css';
}
