.select
{
  position: relative;

  display: inline-block;
}

.baseline
{
  display: inline-block;
  overflow: visible;

  width: 100%;

  vertical-align: top;

  font: inherit;
}

.search
{
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 0;

  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;

  font: inherit;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.search.focused
{
  opacity: 0;
}

.control
{
  composes: button from '../Button/button-normal.css';

  display: block;
  overflow: hidden;

  width: 100%;

  text-align: left;
  text-overflow: ellipsis;
}

.control:after
{
  content: '\A0';

  font: inherit;
}

.arrow
{
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  height: 100%;

  cursor: pointer;
  transition: transform .1s ease-out;
  transform: rotate(0deg);
}

.menu
{
  position: absolute;
  left: 0;

  display: none;
  overflow-y: auto;

  min-width: 100%;

  background: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),0 9px 20px -5px rgba(0,0,0,.4);

  font: inherit;
  z-index: 1;
}

.menu.bottom
{
  top: calc(100% + 8px);
}

.menu.top
{
  bottom: calc(100% + 8px);
}

.menu.opened
{
  display: block;
}

.menuItem
{
  display: block;
  overflow-x: hidden;

  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  font: inherit;
}

.menuItem.focused
{
  background-color: #ffeba0;
}

.menuItem.selected
{
  background-repeat: no-repeat;
}

.emptyItem
{
  composes: menuItem;
  color: rgba(0,0,0,.4);
}
