.columns
{
  display: flex;

  width: 100%;

  flex-flow: row nowrap;
  justify-content: space-between;
}

.column
{
  width: calc(50% - 4px);
}

.delimiter
{
  margin: 0 0 15px;
  padding: 0;

  border: none;
}

.label
{
  display: inline-block;

  width: 62px;
  margin: 0 8px 0 0;
}

.control
{
  width: calc(100% - 70px);
}
