.control
{
  composes: control from '../button/button-normal-l.css';
  composes: control from './button-opened.css';

  position: relative;

  padding-right: 39px;

  text-align: left;
}

.control:after
{
  right: 15px;

  height: 32px;
}
