.control
{
  composes: control from '../button/button-normal-s.css';
  composes: control from './button-closed.css';

  position: relative;

  padding-right: 29px;

  text-align: left;
}

.control:after
{
  right: 10px;

  height: 22px;
}
