.control
{
  composes: control from './option.css';

  height: 28px;
  padding: 0 15px 0 34px;

  background-position: 15px 50%;
  background-size: 15px 15px;

  font-size: 13px;
  line-height: 28px;
}

.controlFocused
{
  composes: control;
  composes: focused from './option.css';
}

.controlSelected
{
  composes: control;
  composes: selected from './option.css';
}

.controlFocusedSelected
{
  composes: control;
  composes: focusedSelected from './option.css';
}
