.wrapper
{
  composes: wrapper from './select.css';
}

.control
{
  composes: control from '../button/button-normal-s.css';
  composes: control from './select.css';

  position: relative;

  padding-right: 25px;

  text-align: left;
}

.control:after
{
  right: 10px;
}

.menu
{
  composes: menu from '../menu/menu-s.css';
  composes: menu from './select.css';
}

.item
{
  composes: item from '../menu/menu-s.css';
  composes: item from './select.css';
}

/* mixins */

.isClosed
{
  composes: isClosed from './select.css';
}

.isOpened
{
  composes: isOpened from './select.css';
}

.is
{
  background-position: 10px 50%;
  background-size: 14px 14px;
}

.isFocused
{
  composes: isFocused from './select.css';
  composes: is;
}

.isSelected
{
  composes: isSelected from './select.css';
  composes: is;

  background: url(../check/tick-s.svg) 14px 50% no-repeat;
  background-size: 13px;
}

.isFocusedSelected
{
  composes: isFocusedSelected from './select.css';
  composes: is;

  background: #ffeba0 url(../check/tick-s.svg) 14px 50% no-repeat;
  background-size: 13px;
}
