/* size s */

.wrapper-s
{
  width: 180px;

  font: 13px/24px arial,sans-serif;
}

.search-s
{
  padding: 0 25px 0 11px;
}

.control-s
{
  composes: s from '../button/button-size.css';

  padding-right: 25px;
}

.arrow-s
{
  width: 26px;

  background: url(../asset/arrow-s.svg) center center no-repeat;
}

.menu-s
{
  max-height: 200px;
  padding: 3px 0;
}

.menuItem-s
{
  padding: 0 10px 0 30px;
}

.emptyItem-s
{
  padding: 0 10px;
}

.isSelectedMenuItem-s
{
  background-image: url(../asset/tick-m.svg);
  background-position: 11px center;
  background-size: auto;
}

/* size m */

.wrapper-m
{
  width: 183px;

  font: 13px/28px arial,sans-serif;
}

.search-m
{
  padding: 0 29px 0 13px;
}

.control-m
{
  composes: m from '../button/button-size.css';

  padding-right: 30px;
}

.arrow-m
{
  width: 31px;

  background: url(../asset/arrow-m.svg) center center no-repeat;
}

.menu-m
{
  max-height: 198px;
  padding: 4px 0;

  line-height: 24px;
}

.menuItem-m
{
  padding: 0 13px 0 30px;
}

.emptyItem-m
{
  padding: 0 13px;
}

.isSelectedMenuItem-m
{
  background-image: url(../asset/tick-m.svg);
  background-position: 13px center;
  background-size: auto;
}

/* size l */

.wrapper-l
{
  width: 210px;

  font: 15px/32px arial,sans-serif;
}

.search-l
{
  padding: 0 25px 0 8px;
}

.control-l
{
  composes: l from '../button/button-size.css';

  padding-right: 34px;
}

.arrow-l
{
  width: 35px;

  background: url(../asset/arrow-m.svg) center center no-repeat;
}

.menu-l
{
  max-height: 236px;
  padding: 5px 0;

  line-height: 28px;
}

.menuItem-l
{
  padding: 0 15px 0 34px;
}

.emptyItem-l
{
  padding: 0 15px;
}

.isSelectedMenuItem-l
{
  background-image: url(../asset/tick-l.svg);
  background-position: 16px center;
  background-size: auto;
}
