.wrapper
{
  composes: wrapper from './select.css';
}

.control
{
  composes: control from '../button/button-normal-m.css';
  composes: control from './arrow-s.css';
  composes: control from './select.css';

  position: relative;

  padding-right: 29px;

  text-align: left;
}

.control:after
{
  right: 12px;
}

.menu
{
  composes: menu from '../menu/menu-m.css';
  composes: menu from './select.css';

  max-height: 230px;
}

.item
{
  composes: item from '../menu/menu-m.css';
  composes: item from './select.css';
}

/* mixins */

.isClosed
{
  composes: isClosed from './select.css';
}

.isOpened
{
  composes: isOpened from './select.css';
}

.isFocused
{
  composes: isFocused from './select.css';
}

.isSelected
{
  composes: isSelected from './select.css';

  background-image: url(../check/tick-m.svg);
  background-position: 13px 50%;
  background-size: 15px;
}
