.selector
{
  /* the common selector */
}

.wrapper
{
  position: relative;

  display: inline-block;
}

.baseline
{
  display: inline-block;
  overflow: visible;

  width: 100%;

  vertical-align: top;

  font: inherit;
}

.search
{
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  margin: 0;

  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;

  font: inherit;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.control
{
  composes: control from '../button/button.css';
  composes: normal from '../button/button.css';

  display: block;
  overflow: hidden;

  width: 100%;

  text-align: left;
  text-overflow: ellipsis;
}

.control:after
{
  content: '\A0';

  font: inherit;
}

.arrow
{
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  height: 100%;

  cursor: pointer;
  transition: transform .1s ease-out;
  transform: rotate(0deg);
}

.menuItem
{
  display: block;
  overflow-x: hidden;

  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  font: inherit;
}

.emptyItem
{
  composes: menuItem;

  color: rgba(0,0,0,.4);
}

/* states */

.search:focus + .control
{
  border: 1px solid #ffdb4d;
  box-shadow: inset 0 0 0 1px #ffdb4d;
}

.search:disabled + .control
{
  cursor: default;

  color: rgba(0,0,0,.5);
  border: 1px solid #ebebeb;
  background: #ebebeb;
}

.control:disabled ~ .arrow,
.search:disabled ~ .arrow
{
  cursor: default;

  opacity: .4;
}

/* mixin */

.hasPlaceholder
{
  color: rgba(0,0,0,.5);
}

.isClosedMenu
{
  display: none;
}

.isFixedMenu
{
  width: 100%;
}

.isFocusedMenuItem
{
  background-color: #ffeba0;
}

.isOpenedMenu
{
  transform: rotate(-180deg);
}

.isPseudoFocusedSearch
{
  opacity: 0;
}

.isSelectedMenuItem
{
  background-repeat: no-repeat;
}
