/* size xs */

.wrapper-xs
{
  font: 13px arial,sans-serif;
}

.search-xs
{
  padding: 0 25px 0 8px;
}

.control-xs
{
  padding-right: 25px;
}

.arrow-xs
{
  width: 25px;

  background: url(../asset/arrow-xs.svg) center center no-repeat;
}

.menu-xs
{
  max-height: 198px;
  padding: 3px 0;
}

.menuItem-xs
{
  padding: 0 15px 0 30px;

  line-height: 24px;
}

.emptyItem-xs
{
  padding: 0 10px;

  line-height: 24px;
}

.isSelectedMenuItem-xs
{
  background-image: url(../asset/tick-s.svg);
  background-position: 10px 50%;
  background-size: 13px;
}

/* size s */

.wrapper-s
{
  font: 13px arial,sans-serif;
}

.search-s
{
  padding: 0 25px 0 11px;
}

.control-s
{
  padding-right: 25px;
}

.arrow-s
{
  width: 25px;

  background: url(../asset/arrow-s.svg) center center no-repeat;
}

.menu-s
{
  max-height: 200px;
  padding: 4px 0;
}

.menuItem-s
{
  padding: 0 15px 0 30px;

  line-height: 24px;
}

.emptyItem-s
{
  padding: 0 13px;

  line-height: 24px;
}

.isSelectedMenuItem-s
{
  background-image: url(../asset/tick-s.svg);
  background-position: 10px 50%;
  background-size: 13px;
}

/* size m */

.wrapper-m
{
  font: 15px arial,sans-serif;
}

.search-m
{
  padding: 0 29px 0 13px;
}

.control-m
{
  padding-right: 29px;
}

.arrow-m
{
  width: 25px;

  background: url(../asset/arrow-s.svg) center center no-repeat;
}

.menu-m
{
  max-height: 236px;
  padding: 6px 0;
}

.menuItem-m
{
  padding: 0 20px 0 34px;

  line-height: 28px;
}

.emptyItem-m
{
  padding: 0 15px;

  line-height: 28px;
}

.isSelectedMenuItem-m
{
  background-image: url(../asset/tick-m.svg);
  background-position: 13px 50%;
  background-size: 15px;
}
