.wrapper
{
  composes: wrapper from './select.css';
}

.control
{
  composes: control from '../button/button-normal-xs.css';
  composes: control from './arrow-xs.css';
  composes: control from './select.css';

  position: relative;

  padding-right: 25px;

  text-align: left;
}

.control:after
{
  right: 9px;
}

.menu
{
  composes: menu from '../menu/menu-xs.css';
  composes: menu from './select.css';

  max-height: 200px;
}

.item
{
  composes: item from '../menu/menu-xs.css';
  composes: item from './select.css';
}

/* mixins */

.isClosed
{
  composes: isClosed from './select.css';
}

.isOpened
{
  composes: isOpened from './select.css';
}

.isCheckedItem
{
  composes: isCheckedItem from './select.css';
  composes: item;

  background-image: url(../check/tick-s.svg);
  background-position: 10px 50%;
  background-size: 13px;
}

.isFocused
{
  composes: isFocused from './select.css';
}
