.wrapper
{
  position: relative;

  display: inline-block;
}

.control
{
  composes: control from './arrow.css';
}

.menu
{
  composes: popup from '../popup/popup.css';

  z-index: 1;

  min-width: 100%;

  background: #fff;
}

.item
{
  /* base */
}

/* mixins */

.isClosed:after
{
  transform: rotate(0deg);
}

.isOpened:after
{
  transform: rotate(-180deg);
}

.isFocused
{
  background-color: #ffeba0;
}

.isSelected
{
  /* base */
}

.isFocusedSelected
{
  /* base */
}
