.wrapper
{
  composes: selector from './select.css';
  composes: wrapper from './select.css';
  composes: wrapper-m from './select-size.css';
}

.baseline
{
  composes: baseline from './select.css';
}

.search
{
  composes: search from './select.css';
  composes: search-m from './select-size.css';
}

.control
{
  composes: control from './select.css';
  composes: control-m from './select-size.css';
}

.arrow
{
  composes: arrow from './select.css';
  composes: arrow-m from './select-size.css';
}

.menu
{
  composes: menu from './select.css';
  composes: menu-m from './select-size.css';
}

.menuItem
{
  composes: menuItem from './select.css';
  composes: menuItem-m from './select-size.css';
}

.emptyItem
{
  composes: emptyItem from './select.css';
  composes: emptyItem-m from './select-size.css';
}

/* mixin */

.isClosedMenu
{
  composes: isClosedMenu from './select.css';
}

.isFixedMenu
{
  composes: isFixedMenu from './select.css';
}

.isFocusedMenuItem
{
  composes: isFocusedMenuItem from './select.css';
}

.isOpenedMenu
{
  composes: isOpenedMenu from './select.css';
}

.isPseudoFocusedSearch
{
  composes: isPseudoFocusedSearch from './select.css';
}

.isSelectedMenuItem
{
  composes: isSelectedMenuItem from './select.css';
  composes: isSelectedMenuItem-m from './select-size.css';
}
