@value font-large, padding-large from '../const.css';

.link
{
  composes: button from '../Button/button-normal.css';

  padding: padding-large;

  font: font-large;
}

.disabled
{
  composes: disabled from '../Button/button-normal.css';
}
