@value font-small, padding-small from '../const.css';

.button
{
  composes: button from './button-normal.css';
  padding: padding-small;
  font: font-small;
}

.focused
{
  composes: focused from './button-normal.css';
}
