.radio
{
  composes: radio from './radio-common.css';

  font: 13px/1.2 arial,sans-serif;
}

.box
{
  composes: box from './radio-common.css';

  margin: 0 0 14px;
}

.box:last-child
{
  margin: 0;
}

.native
{
  composes: native from './radio-common.css';
}

.control
{
  composes: control from './radio-common.css';

  width: 14px;
  height: 14px;
}

.control:after
{
  top: 3px;
  left: 3px;

  width: 6px;
  height: 6px;
}

.label
{
  composes: label from './radio-common.css';

  margin: 0 0 0 5px;
}
