@value font-medium, padding-medium from '../const.css';

.radio
{
  composes: radio from './radio-button.css';

  font: 13px/1.2 arial,sans-serif;
}

.box
{
  composes: box from './radio-button.css';
}

.native
{
  composes: native from './radio-button.css';
}

.control
{
  composes: control from './radio-button.css';

  padding: padding-medium;

  font: font-medium;
}

.label
{
  composes: label from './radio-button.css';
}
