.l
{
  padding: 0 16px;

  font: 18px/36px arial,sans-serif;
}

.m
{
  padding: 0 13px;

  font: 15px/30px arial,sans-serif;
}

.s
{
  padding: 0 11px;

  font: 13px/26px arial,sans-serif;
}

.xs
{
  padding: 0 8px;

  font: 13px/22px arial,sans-serif;
}
