.control
{
  display: inline-block;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;

  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #ffdb4d;
  box-shadow: inset 0 0 0 1px #ccad33;

  font-family: arial,helvetica,sans-serif;
}

.control:hover
{
  box-shadow: inset 0 0 0 1px #b29933;
}

.control:focus
{
  box-shadow: 0 0 0 1px #fc0,inset 0 0 0 1px #fc0;
}

.control:active
{
  background: #fc0;
}

.control:disabled
{
  cursor: default;

  color: #aaa;
  background: #ebebeb;
  box-shadow: none;
}
