@keyframes flicker
{
  from,
  to
  {
    background-color: #fc0;
  }

  40%,
  60%
  {
    background-color: #ffe066;
  }
}

.control
{
  display: inline-block;

  cursor: pointer;
  user-select: none;
  transition: background .1s ease-out;
  text-align: center;
  text-decoration: none;

  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #ffdb4d;

  font-family: arial,sans-serif;

  -webkit-tap-highlight-color: transparent;
}

.control::-moz-focus-inner
{
  margin: 0;
  padding: 0;

  border: 0;
}

.control:hover
{
  background: #ffd633;
}

.control:focus
{
  animation: flicker 1s infinite linear;
}

.control:active
{
  background: #fc0;
}

.control:disabled
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: none;
}
