.control
{
  border: 0;
  outline: none;
  background: transparent;

  -webkit-tap-highlight-color: transparent;
}

.control:focus
{
  /* todo */
}

.control:disabled
{
  cursor: default;

  color: rgba(0,0,0,.5);
}
