.selector
{
  /* the common selector */
}

.control,
.control:visited
{
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color .15s ease-out;
  text-decoration: none;

  color: #04b;

  line-height: 1.2;
}

.control:hover
{
  color: #c00;
}

.control.disabled
{
  color: rgba(0,0,0,.5);
}
