.control,
.control:visited
{
  cursor: pointer;
  transition: color .15s ease-out;
  text-decoration: none;

  color: #44b;

  font-family: arial,sans-serif;
  line-height: normal;
}

.control:hover
{
  color: #e00;
}
