.control
{
  composes: selector from './link.css';
  composes: normal from '../button/button.css';
  composes: s from '../button/button-size.css';
}

.disabled
{
  composes: disabled from '../button/button.css';
}
