.control
{
  composes: selector from './link.css';
  composes: action from '../button/button.css';
  composes: l from '../button/button-size.css';
}

.disabled
{
  composes: disabled from '../button/button.css';
}
