.selector
{
  /* the common selector */
}

.control,
.control:visited
{
  cursor: pointer;
  transition: color .15s ease-out;
  text-decoration: none;

  color: #04b;

  line-height: 1.2;
}

.control:hover
{
  color: #c00;
}
