/* size m */

.wrapper-m
{
  font: 13px/1.2 arial,sans-serif;
}

.control-m
{
  width: 14px;
  height: 14px;
}

.control-m:after
{
  bottom: 8px;
  left: 2px;

  width: 15px;
  height: 16px;

  background: url(../asset/tip-m.svg) 0 0 no-repeat;
}

.native-m:checked + .control-m:after
{
  bottom: 3px;
}

/* size l */

.wrapper-l
{
  font: 15px/1.2 arial,sans-serif;
}

.control-l
{
  width: 17px;
  height: 17px;
}

.control-l:after
{
  bottom: 10px;
  left: 3px;

  width: 16px;
  height: 17px;

  background: url(../asset/tip-l.svg) 0 0 no-repeat;
}

.native-l:checked + .control-l:after
{
  bottom: 3px;
}
