.wrapper
{
  position: relative;

  display: inline-block;

  font-family: arial,helvetica,sans-serif;
}

.control
{
  position: relative;

  display: inline-block;

  cursor: pointer;
  user-select: none;
  transition: background .1s ease-out 0s;

  border: none;
  border-radius: 3px;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;
}

.control:hover
{
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.control:after
{
  position: absolute;
  top: -10px;
  left: 2px;

  display: block;
  visibility: hidden;

  content: '';
  transition: top .05s ease-out,opacity .05s ease-out,visibility 0s linear .05s;

  opacity: 0;
  background: url(./tip.svg) 0 0 no-repeat;
  background-size: 100%;
}

.native
{
  position: absolute;

  opacity: 0;
}

.native:checked + .control
{
  background: #ffeba0;
  box-shadow: inset 0 0 0 1px #ccbd80;
}

.native:checked + .control:after
{
  top: -5px;

  visibility: visible;

  opacity: 1;
}

.native:focus + .control
{
  box-shadow: 0 0 0 1px #fc0,inset 0 0 0 1px #fc0;
}

.native:disabled + .control
{
  cursor: default;

  background: #ebebeb;
  box-shadow: none;
}

.native:disabled + .control:after
{
  opacity: .4;
}

.native:disabled ~ .label
{
  color: #999;
}
