.container
{
  composes: selector from './radio.css';
  composes: container from './radio.css';

  font: 15px/1.2 arial,sans-serif;
}

.wrapper
{
  composes: common-wrapper from './radio.css';

  margin: 0 0 15px;
}

.wrapper:last-child
{
  margin: 0;
}

.control
{
  composes: common-control from './radio.css';

  width: 17px;
  height: 17px;
}

.control:after
{
  top: 4px;
  left: 4px;

  width: 7px;
  height: 7px;
}

.label
{
  margin: 0 0 0 7px;
}

.native
{
  composes: common-native from './radio.css';
}
