.container
{
  composes: selector from './radio.css';
  composes: container from './radio.css';

  font: 13px/1.2 arial,sans-serif;
}

.wrapper
{
  composes: common-wrapper from './radio.css';

  margin: 0 0 14px;
}

.wrapper:last-child
{
  margin: 0;
}

.control
{
  composes: common-control from './radio.css';

  width: 14px;
  height: 14px;
}

.control:after
{
  top: 3px;
  left: 3px;

  width: 6px;
  height: 6px;
}

.label
{
  margin: 0 0 0 5px;
}

.native
{
  composes: common-native from './radio.css';
}
