.container
{
  composes: selector from './radio.css';
  composes: container from './radio.css';

  font: 13px arial,sans-serif;
}

.wrapper
{
  composes: button-wrapper from './radio.css';
}

.control
{
  composes: button-control from './radio.css';
  composes: m from '../button/button-size.css';
}

.native
{
  composes: button-native from './radio.css';
}
