@value warning: #ff7474;
@value warningHovered: #ff8989;

.bottom,
.left,
.right,
.top
{
  background: warning;
}

.bottom:hover,
.left:hover,
.right:hover,
.top:hover
{
  background: warningHovered;
}

.bottom:after
{
  border-bottom-color: warning;
}

.bottom:hover:after
{
  border-bottom-color: warningHovered;
}

.left:after
{
  border-left-color: warning;
}

.left:hover:after
{
  border-left-color: warningHovered;
}

.right:after
{
  border-right-color: warning;
}

.right:hover:after
{
  border-right-color: warningHovered;
}

.top:after
{
  border-top-color: warning;
}

.top:hover:after
{
  border-top-color: warningHovered;
}
