.bottom
{
  composes: bottom from './tooltip.css';
  composes: bottom from './size-m.css';
  composes: bottom from './color-normal.css';
}

.left
{
  composes: left from './tooltip.css';
  composes: left from './size-m.css';
  composes: left from './color-normal.css';
}

.right
{
  composes: right from './tooltip.css';
  composes: right from './size-m.css';
  composes: right from './color-normal.css';
}

.top
{
  composes: top from './tooltip.css';
  composes: top from './size-m.css';
  composes: top from './color-normal.css';
}
