.bottom
{
  composes: bottom from './tooltip.css';
  composes: bottom from './size-s.css';
  composes: bottom from './color-warning.css';
}

.left
{
  composes: left from './tooltip.css';
  composes: left from './size-s.css';
  composes: left from './color-warning.css';
}

.right
{
  composes: right from './tooltip.css';
  composes: right from './size-s.css';
  composes: right from './color-warning.css';
}

.top
{
  composes: top from './tooltip.css';
  composes: top from './size-s.css';
  composes: top from './color-warning.css';
}

/* mixins */

.isClosed
{
  composes: isClosed from './tooltip.css';
}

.isOpened
{
  composes: isOpened from './tooltip.css';
}

.isLine
{
  composes: isLine from './tooltip.css';
}

.isVisible
{
  composes: isVisible from './tooltip.css';
}

