.control
{
  composes: control from './tooltip.css';

  top: 50%;
  left: calc(100% + 7px);

  transform: translateY(-50%);
}

.control:after
{
  top: calc(50% - 7px);
  left: -7px;

  border-width: 7px 7px 7px 0;
  border-right-color: #ff7474;
}

.control:hover:after
{
  border-right-color: #ff8989;
}
