.wrapper
{
  composes: selector from './input.css';
  composes: wrapper from './input.css';

  font-size: 13px;
}

.control
{
  composes: control from './input.css';

  padding: 0 5px;

  line-height: 22px;
}

.clear
{
  composes: clear from './input.css';

  width: 22px;
  height: 22px;

  background: url(../asset/times-s.svg) 50% 50% no-repeat;
}

.clear + .control
{
  padding-right: 23px;
}
