.wrapper
{
  composes: selector from './input.css';
  composes: wrapper from './input.css';
  composes: wrapper-s from './input-size.css';
}

.control
{
  composes: control from './input.css';
  composes: control-s from './input-size.css';
}

.clear
{
  composes: clear from './input.css';
  composes: clear-s from './input-size.css';
}
