@value size-xs, line-xs from '../font.css';

.wrapper
{
  composes: wrapper from './input.css';

  font-size: size-xs;
  line-height: line-xs;
}

.control
{
  composes: control from './input.css';

  padding: 0 7px;

  font-size: size-xs;
  line-height: line-xs;
  height: : line-xs;
}

.clear
{
  composes: clear from './input.css';

  width: 22px;
  height: 22px;

  background: url(./times-s.svg) 50% 50% no-repeat;
}

/* mixin */

.hasClear
{
  composes: hasClear from './input.css';

  padding-right: 24px;
}
