.wrapper
{
  position: relative;

  display: inline-block;
}

.control
{
  box-sizing: border-box;
  width: 100%;

  transition: box-shadow .1s ease-out;

  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: inset 0 0 0 1px #ccc;

  font-family: arial,sans-serif;
  line-height: normal;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.control::-webkit-input-placeholder,
.control:-moz-placeholder,
.control::-moz-placeholder,
.control:-ms-input-placeholder
{
  text-indent: 0;

  color: #999;
}

.control:focus
{
  box-shadow: inset 0 0 0 2px #fc0;
}

.control:disabled
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: none;
}

.clear
{
  position: absolute;
  top: 1px;
  right: 1px;

  display: block;

  cursor: pointer;
  transition: opacity .1s ease-out;

  opacity: .3;
}

.clear:hover
{
  opacity: 1;
}
