.wrapper
{
  composes: selector from './input.css';
  composes: wrapper from './input.css';

  font-size: 15px;
}

.control
{
  composes: control from './input.css';

  padding: 0 8px;

  line-height: 30px;
  height: 30px;
}

.clear
{
  composes: clear from './input.css';

  width: 30px;
  height: 30px;

  background: url(../asset/times-m.svg) 50% 50% no-repeat;
}

.clear + .control
{
  padding-right: 31px;
}
