@value size-s, line-s from '../font.css';

.wrapper
{
  composes: wrapper from './input.css';

  font-size: size-s;
  line-height: line-s;
}

.control
{
  composes: control from './input.css';

  padding: 0 28px 0 8px;

  font-size: size-s;
  line-height: line-s;
}

.clear
{
  composes: clear from './input.css';

  width: 26px;
  height: 26px;

  background: url(./times-s.svg) 50% 50% no-repeat;
}
