@value size-m, line-m from '../font.css';

.wrapper
{
  composes: wrapper from './input.css';

  font-size: size-m;
  line-height: line-m;
}

.control
{
  composes: control from './input.css';

  padding: 0 10px;

  font-size: size-m;
  line-height: line-m;
  height: : line-m;
}

.clear
{
  composes: clear from './input.css';

  width: 30px;
  height: 30px;

  background: url(./times-m.svg) 50% 50% no-repeat;
}

/* mixin */

.hasClear
{
  composes: hasClear from './input.css';

  padding-right: 32px;
}
