/* size s */

.control-s
{
  height: 24px;
  padding: 0 6px;

  font: 13px/24px arial,sans-serif;
}

.clear-s
{
  width: 22px;
  height: 22px;

  background: url(../asset/times-s.svg) center center no-repeat;
}

.clear-s + .control-s
{
  padding-right: 24px;
}

/* size m */

.control-m
{
  height: 28px;
  padding: 0 7px;

  font: 13px/28px arial,sans-serif;
}

.clear-m
{
  width: 26px;
  height: 26px;

  background: url(../asset/times-s.svg) center center no-repeat;
}

.clear-m + .control-m
{
  padding-right: 28px;
}

/* size l */

.control-l
{
  height: 32px;
  padding: 0 9px;

  font: 15px/32px arial,sans-serif;
}

.clear-l
{
  width: 30px;
  height: 30px;

  background: url(../asset/times-m.svg) center center no-repeat;
}

.clear-l + .control-l
{
  padding-right: 32px;
}
