@value size-xs from '../font.css';

.menu
{
  composes: menu from './menu.css';

  padding: 3px 0;
}

.item
{
  composes: item from './menu.css';

  padding: 0 15px 0 30px;

  font-size: size-xs;
  line-height: 24px;
}
