.menu
{
  composes: menu from '../layer.css';

  position: absolute;
  left: 0;

  overflow-y: auto;

  min-width: 100%;

  background: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),0 9px 20px -5px rgba(0,0,0,.4);

  font: inherit;
}

.bottom
{
  top: calc(100% + 8px);
}

.top
{
  bottom: calc(100% + 8px);
}
