@value size-m from '../font.css';

.menu
{
  composes: menu from './menu.css';

  padding: 6px 0;
}

.item
{
  composes: item from './menu.css';

  padding: 0 20px 0 34px;

  font-size: size-m;
  line-height: 28px;
}
