.container
{
  display: inline-block;

  white-space: nowrap;
}

.wrapper
{
  position: relative;

  display: inline;
}

.control
{
  position: relative;
  z-index: 0;

  display: inline-block;

  margin-right: -1px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;

  color: #000;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  font-family: arial,sans-serif;
}

.wrapper:first-child .control
{
  border-radius: 3px 0 0 3px;
}

.wrapper:last-child .control
{
  margin-right: 0;

  border-radius: 0 3px 3px 0;
}

.control:hover
{
  z-index: 1;

  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.native
{
  position: absolute;

  opacity: 0;
}

.native:focus + .control
{
  z-index: 1;

  box-shadow: inset 0 0 0 2px #ffdb4d;
}

.native + .control:active
{
  background: #f6f5f3;
}

.native:checked + .control
{
  position: relative;

  background: #ffeca6;
}

.native:checked + .control:active
{
  background: #fee481;
}

.native:disabled + .control
{
  z-index: 0;

  cursor: default;

  color: #aaa;
  background: #ebebeb;
  box-shadow: none;
}

.native:disabled:checked + .control
{
  background: #d9d9d9;
}
