@value size-xs, line-xs from '../font.css';

.container
{
  composes: container from './radio-group.css';
}

.wrapper
{
  composes: wrapper from './radio-group.css';
}

.control
{
  composes: control from './radio-group.css';

  padding: 0 10px;

  font-size: size-xs;
  line-height: line-xs;
}

.native
{
  composes: native from './radio-group.css';
}
