@value size-l from '../font.css';

.container
{
  composes: container from './radio-group.css';
}

.wrapper
{
  composes: wrapper from './radio-group.css';
}

.control
{
  composes: control from './radio-group.css';

  padding: 0 15px;

  font-size: size-l;
  line-height: 32px;
}

.native
{
  composes: native from './radio-group.css';
}
