@keyframes spin
{
  from
  {
    transform: rotate(0deg);
  }

  to
  {
    transform: rotate(360deg);
  }
}

.selector
{
  /* the common selector */
}

.wrapper
{
  display: inline-block;
}

.control
{
  display: block;

  box-sizing: border-box;
  margin: 0;

  animation: spin 1s infinite linear;

  border: 2px solid #fc0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
}
