.isFocused
{
  background-color: #ffeba0;
}

.isSelected
{
  background: url(./tip.svg) 13px 50% no-repeat;
}

.control
{
  display: block;

  height: 24px;
  padding: 0 13px 0 30px;

  cursor: pointer;
  white-space: nowrap;

  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 25px;
}

.controlIsFocused
{
  composes: control;
  composes: isFocused;
}

.controlIsSelected
{
  composes: control;
  composes: isSelected;
}

.controlIsFocusedAndIsSelected
{
  composes: control;
  composes: isFocused;
  composes: isSelected;
}
