.container
{
  position: relative;

  display: inline-block;
}

.control
{
  composes: control from './button-normal-m.css';
}

.control:after
{
  display: inline-block;

  width: 11px;
  height: 6px;
  margin: 0 0 0 12px;

  content: '';
  transition: transform .1s ease-out 0s;

  background: url(./arrow.svg) 0 0 no-repeat;
}

.controlIsClosed
{
  composes: control;
}

.controlIsClosed:after
{
  transform: rotate(0deg);
}

.controlIsOpened
{
  composes: control;
}

.controlIsOpened:after
{
  transform: rotate(-180deg);
}

.menu
{
  composes: container from './underlay.css';

  position: absolute;
  z-index: 1;
  top: calc(100% + 8px);

  min-width: 100%;
  padding: 4px 0;
}

.menuIsClosed
{
  composes: menu;

  visibility: hidden;

  opacity: 0;
}

.menuIsOpened
{
  composes: menu;

  visibility: visible;

  opacity: 1;
}

.menuItem
{
  display: block;

  height: 24px;
  padding: 0 13px 0 30px;

  cursor: pointer;
  white-space: nowrap;

  line-height: 25px;
}

.menuItem:hover
{
  background: #ffeba0;
}
