@value font-xl from './size.css';

.container
{
  composes: container from './select.css';
}

.control
{
  composes: control from './button-normal-xl.css';
}

.controlWithEmptyValue
{
  composes: control;

  color: #999;
}

.menu
{
  composes: menu from './select.css';

  font-size: font-xl;
  line-height: 32px;
}

.menuIsClosed
{
  composes: menu;
  composes: menuIsClosed from './select.css';
}

.menuIsOpen
{
  composes: menu;
  composes: menuIsOpen from './select.css';
}

.menuItem
{
  composes: menuItem from './select.css';

  padding: 0 40px;
}
